nav {
	transition: all 1s;
}
.nav-scroll {
	background: rgba(0, 0, 0, 0.6);
}

.logo {
	font-family: 'Chakra Petch', sans-serif;
	color: rgba(66, 134, 244, 1);
	font-style: italic;
	font-weight: bold;
}

.nav-link-li {
	margin: 0 10px;
}

.nav-link-button {
	font-family: 'Chakra Petch', sans-serif;
	font-weight: bold;
	border-radius: 3px;
	transition: all 0.9s;
}

.nav-link-button:hover {
	background: rgba(66, 134, 244, 1);
	color: rgba(55, 59, 68, 1);
	border-radius: 3px;
	box-shadow: 1px 0px 29px 4px rgba(55, 59, 68, 0.37);
	-webkit-box-shadow: 1px 0px 29px 4px rgba(55, 59, 68, 0.37);
	-moz-box-shadow: 1px 0px 29px 4px rgba(55, 59, 68, 0.37);
}
.traslate {
	width: 35px;
	height: 35px;
	padding: 0;
	border: none;
}

.english {
	background: url('../img/english.png');
	background-size: cover;
}
.spanish{
	background: url('../img/spanish.png');
	background-size: cover;
}
